textarea {
	min-height: 250px;
}

span.fileinput-button>label {
	font-weight: normal;
}

.btn,
.form-control {
	border-radius: 3px;
}

a.clear {
	position: absolute;
	top: 40px;
	right: 40px;
	font-size: 20px;
	color: #999;
}

a.clear:hover,
a.clear:active {
	color: #DD0000;
}