.header {
	margin-bottom: 10px;
}

.header p {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 5px;
}

.csv.col-md-6,
.json.col-md-6 {
	margin-bottom: 20px;
}

span.fileinput-button>label {
	font-weight: normal;
}

.btn {
	border-radius: 3px;
}

.form-control {
	border: none;
	box-shadow: none;
	background-color: #f0f0f0;
}

/**** Navigation bar ****/
.navbar {
	border-radius: 0;
}


/**** Code text boxes ****/

.code-group {
	position: relative;
}

.code-group a.clear {
	position: absolute;
	top: 40px;
	right: 20px;
	font-size: 20px;
	color: #999;
}

.code-group a.clear:hover,
.code-group a.clear:active {
	color: #DD0000;
}