.navbar {
	border-radius: 0;
}

a.navbar-brand {
	background-image: url("/img/favicon-inverse.png");
	height: 32px;
	margin: 10px 10px 10px 10px;
	width: 32px;
}
@media (min-width: 768px) {
	.navbar > .container .navbar-brand {
		margin-left: 0;
	}
}

.description {
	margin-bottom: 10px;
}

.description p {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 5px;
}

.more-bottom-margin {
	margin-bottom: 20px;
}

span.fileinput-button>label {
	font-weight: normal;
}

.btn {
	border-radius: 3px;
}

.form-control {
	border: none;
	box-shadow: none;
	background-color: #f0f0f0;
}

label {
	color: #333;
}


/**** Code text boxes ****/

.code-group {
	position: relative;
}

.code-group a.clear {
	position: absolute;
	top: 40px;
	right: 20px;
	font-size: 20px;
	color: #999;
}

.code-group a.clear:hover,
.code-group a.clear:active {
	color: #DD0000;
}