:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #4C48EF;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #002E70;
  --bs-primary: #3B2FC9;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #FFD86E;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #090B2B;
  --bs-font-sans-serif: proxima-nova, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
a {
    color: var(--bs-primary);
}

.bi {
	margin-right: 5px;
}

.btn-primary {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.bg-dark {
	background-color: var(--bs-dark)!important;
}

.text-secondary {
    color: rgba(255,255,255,.5)!important;
}

.btn-outline-primary {
    color: #fff!important;
    border-color: var(--bs-primary);
}

.btn-outline-primary:hover, .btn-primary:hover {
    color: #fff;
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
