/**** flatfile.io general ****/
a {
	color: #327AB7;
}

.flatfile-banner>li>a {
	display: table;
	padding: 5px;
	line-height: 14px;
	font-size: 12px;
	color: #2e3440;
}
.flatfile-banner>li>a .image-wrapper {
	display: table-cell;
	height: 40px;
	padding: 2px;
}
.flatfile-banner>li>a .image-wrapper img {
	height: 100%;
	background-color: #794cff;
	border-radius: 5px;
	padding: 6px;
}
.flatfile-banner>li>a .text {
	padding-left: 5px;
	display: table-cell;
	vertical-align: middle;
}
.flatfile-banner>li>a .text-row {
	display: block;
}
.flatfile-banner>li>a .text-row .secondary {
	color: #5b6f7f;
}

/**** Navigation Bar ****/

header.navbar {
	border-radius: 0;
}

header.navbar-inverse {
	background-color: #794cff; /*#e51400;*/
	border: 0;
}

header .navbar-brand {
	padding: 0;
	float: left;
	font-size: 26px;
	line-height: 26px;
}

header .navbar-brand img {
	height: 48px;
	padding: 6px;
}

header.navbar-inverse .navbar-brand {
	color: #000000;
}

header.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #000000;
	background-color: transparent;
}

header .nav>li {
	float: left!important;
}
header .navbar-nav {
	margin: 0!important;
}
header .navbar-left {
    float: left!important;
}
header .navbar-right {
    float: right!important;
}
header .navbar-header {
	float: none!important;
}
header .navbar-nav:not(.flatfile-banner)>li>a {
	padding-top: 15px!important;
	padding-bottom: 15px!important;
}

header.navbar-inverse .navbar-nav > li > a {
	color: #000000;
}

header.navbar-inverse .navbar-nav > .active > a,
header.navbar-inverse .navbar-nav > .active > a:hover,
header.navbar-inverse .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #794cff; /*#ba141a;*/
}

header.navbar-inverse .navbar-nav > li.disabled > a,
header.navbar-inverse .navbar-nav > li.disabled > a:hover,
header.navbar-inverse .navbar-nav > li.disabled > a:focus {
	color: #555;
}

header.navbar-inverse .navbar-collapse {
	border-color: #990000;
}

@media (max-width: 500px) {
	header .navbar-brand {
		display: none;
	}
}

@media (max-width: 767px) {
	header .navbar-nav .open .dropdown-menu {
		position: absolute;
    	float: left;
    	width: auto;
    	margin-top: inherit;
    	background-color: #fff;
    	border: 1px solid #ccc;
    	border: 1px solid rgba(0,0,0,0.15);
    	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	}
	header.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #333;
	}
	header.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
	header.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #262626;
		background-color: #f5f5f5;
	}
}

/**** Main ****/

h1.discrete {
	font-size: 18px;
	margin-top: 10px;
}

.popover {
	max-width: 400px;
}

.bg-red {
	background-color: #e51400;
	padding: 5px;
}

.container-fluid > .row {
	margin: 0;
}

.description {
	margin-bottom: 10px;
}

.description p {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 5px;
}

blockquote,
blockquote p {
	font-size: 14px;
	color: #666;
}

.more-bottom-margin {
	margin-bottom: 20px;
}

span.fileinput-button>label {
	font-weight: normal;
}

.btn {
	border-radius: 3px;
}

.btn-primary {
	color: #ffffff;
	background-color: #794cff; /*#ba141a;*/
	border-color: #794cff; /*#ba141a;*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #ffffff;
	background-color: #794cff; /*#e51400;*/
	border-color: #794cff; /*#e51400; */
}

.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #794cff; /*#e51400;*/
	border-color: #794cff; /*#e51400;*/
}

.form-control {
	border: none;
	box-shadow: none;
	background-color: #f0f0f0;
}

.form-options {
	border-radius: 4px;
	padding: 6px 12px;
	background-color: #f0f0f0;
}

.alert-default {
	background-color: #f0f0f0;
}

label {
	color: #333;
}

label.inline {
	font-weight:normal;
}

textarea {
	font-family: "Courier New";
}

textarea.error {
	color: #990000;
	background-color: #ffeeee;
}


/**** Main controls ****/

a.clear {
	padding: 10px;
	position: absolute;
	top: 160px;
	left: -20px;
	font-size: 20px;
	color: #999;
	opacity: 0.5;
}

a.clear:hover,
a.clear:active {
	color: #794cff; /*#ba141a;*/
	opacity: 1.0;
}

a.convert {
	padding: 10px;
	position: absolute;
	top: 110px;
	left: -20px;
	font-size: 20px;
	color: #999;
	opacity: 0.5;
}

a.convert:hover,
a.convert:active {
	color: #000;
	opacity: 1.0;
}

a#issue:not(.pull-right) {
	margin-top: 10px;
}

@media (max-width: 991px) {
	a.clear,
	a.convert {
		display: none;
	}
}


/**** Code text boxes ****/

.code-group {
	position: relative;
}

span.result-note {
	padding-left: 10px;
	color: #990000;
}

pre {
	border: none;
	border-radius: 3px;
}

.CodeMirror {
	background-color: #f0f0f0;
	border-radius: 4px;
}
.CodeMirror-gutters {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.CodeMirror .line-error {
    background-color: #FBE3E4;
}

input.row-start {
	background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px;
    height: 23px;
    font-size: 12px;
}

/**** About <tool> section ****/

.about ul li {
	margin-bottom: 5px;
}
	

/**** Footer ****/
footer.navbar {
	margin: 20px inherit 0 inherit;
	border-top: 1px solid #F0F0F0;
}

footer.navbar .container-fluid p {
	margin: 10px;
	color: #666;
}

footer.navbar .container-fluid a {
	color: #666;
}

footer.navbar .container-fluid a:hover,
footer.navbar .container-fluid a:active {
	color: #333;
}

/*** Home page ***/

.home .tool {
	padding: 16px 24px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 6px;
	width: 100%;
}

.home blockquote p {
	font-size: 16px;
}

.form-group label small {
	font-weight: normal;
	font-style: italic;
	margin-left: 5px;
}

/* Docs and Sessions */
.nav-pills>li>a {
	border-left: 5px solid transparent;
	border-radius: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    border-left: 5px solid #794cff; /*#e51400;*/
    color: inherit;
    background-color: inherit;
}
.intro-section {
	background-color: #f5f5f5;
    margin-top: -20px;
    padding: 20px;
}
.session-dropdown {
	position: absolute;
	right: 0;
	float: right;
	padding-top: 8px;
}
.session-dropdown>button {
	border-color: transparent;
}
.session-dropdown a.delete-session {
	color: #a94442;
}

/* Spinner */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Fast fade */
 .fade {
   opacity: 0;
   -webkit-transition: opacity 0.05s linear;
      -moz-transition: opacity 0.05s linear;
       -ms-transition: opacity 0.05s linear;
        -o-transition: opacity 0.05s linear;
           transition: opacity 0.05s linear;
}

.notify {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.notify.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}